.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.formWrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 900px;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 15px;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  font-size: 1rem;
  color: #fff;
  display: block;
}

.formInput,
.formTextarea,
.formFileInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.formTextarea {
  height: 50px;
  grid-column: span 2;
  resize: none;
}

.formFileInputWrapper {
  position: relative;
  grid-column: span 3;
  margin: 2.5% 0;
}

.formFileInput {
  display: none;
}

.customFileButton {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.customFileButton:hover {
  background-color: #ddd;
}

.submitButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  grid-column: span 3;
}

.submitButton:hover {
  background-color: #45a049;
}

.formFileInputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.formFileInput {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}
