@font-face {
  font-family: 'GameOfThrones';
  src: 
    url('/static/fonts/GameOfThrones.ttf') format('truetype'),
    url( '/static/fonts/GameOfThrones.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-one: #1e1e1e;
  --color-two: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-one);
  background-image: url('/images/Background.png');
  background-size: cover;
  font-family: 'GameOfThrones', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

