.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  height: 80px;
}

.configButtonContainer {
  position: absolute;
  left: 20px;
  top: 20px;
}

.loginButtonContainer {
  position: absolute;
  right: 20px;
  top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-top: 30%;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.configButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.loginButton {
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.configButton svg {
  fill: #fff;
  transition: transform 0.2s ease-in-out;
}

.configButton:hover svg {
  transform: rotate(20deg);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  width: 300px;
  text-align: center;
  position: relative;
}

.modalContent {
  margin-top: 20px;
}

.select {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.closeButton {
  margin-top: 20px;
  background-color: #613319;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.closeButton:hover {
  background-color: #4b2b15;
}
