@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;500&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

/* Alinhamento da seção */
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container das seções de login e cadastro */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70%;
  max-width: 1200px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  margin-top: 8%;
}

/* Estilo da seção de login */
.loginSection {
  background-color: #8B4513;
  padding: 130px; /* Ajustado para igualar ao anterior */
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  color: white;
}
.loginSection h2{
    font-size: 24px;
    color: #ffffff;
text-align: center;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 5%
  }
.loginSection p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  color: white;
  font-family: 'Old Standard TT', serif;
}

/* Estilo da seção de cadastro */
.registerSection {
  background-color: #F5F5F5;
  padding: 10px; /* Aumentado de 10px para 30px */
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60%; /* Ajustado de 50% para 60% */

}

.registerSection h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #8B4513;
}

.registerSection p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #8B4513;
  font-family: 'Old Standard TT', serif;
}

/* Estrutura do Formulário */
.formContainer {
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

/* Adicionando ícones dentro dos inputs */
.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #F5F5F5;
}

.inputGroup input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
}

.inputGroup input::placeholder {
  color: #8B4513;
}

/* Estilo para o ícone */
.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.svgIcon {
  width: 20px;
  height: 20px;
  fill: #8B4513;
}

/* Estilo de foco no input */
.inputGroup input:focus {
  border-color: #8B4513;
  outline: none;
  box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

/* Estilo do botão de envio */
.submitButton {
  margin-top: 5%;
  background-color: #8B4513;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #A0522D;
}

/* Estilo responsivo básico */
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
  }

  .loginSection, .registerSection {
    width: 100%;
    border-radius: 20px;
  }
}
