.text {
  display: flex;
  justify-content: center;
  color: #FEDFA3;
  margin: 6% 0 2% 0;
  font-size: 1rem;
  text-transform: uppercase;
  word-spacing: 0.3rem;
}

.text .titleOne {
  white-space: nowrap;
  color: #FFA723;
}

.text .titleTwo {
  white-space: nowrap;
  color: #FF9255;
}

.text .titleThree {
  margin: 0 1.5%;
}