.text {
  display: flex;
  justify-content: center;
  color: #FEDFA3;
}

.text p {
  margin: 2% 0.2%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}

.text .titleOne {
  color: #FFA723;
}

.text .titleTwo {
  color: #FF9255;
}